main{
    width: var(--main-width);
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section{
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    width: 350px;
}

main section form input[type="text"],
main section form input[type="tel"],
main section form input[type="email"],
main section form input[type="password"],
main section form input[type="reppassword"]{
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

main section form input[type="submit"]{
    width: 100%;
    padding: 12px 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

main section form input[type="submit"]:hover{
    background-color: var(--secondary-color);
}

main section form ::placeholder{
    color: #726b6b;
}

input:focus{
    outline-color: var(--main-color);
}

main section p{
    display: block;
    width: 100%;
    text-align: center;
}

main section a button{
    width: 100%;
    padding: 12px 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

main section a button:hover{
    background-color: var(--secondary-color);
}

main section a{
    all: unset;
    display: block;
    margin: 1vh auto;
    width: 100%;
    text-align: center;
}

main section a:hover{
    cursor: pointer;
    text-decoration: underline;
}